@import "tailwindcss";

:root {
  --primary: #FBBF22;
  --primary-dark: #DD9F13;
  --secondary: #2D2D2D;
  --background-light: #FAFAFA;
  --background-dark: #1a1a1a;
  --card-light: #FFFFFF;
  --card-dark: #262626;
  --background: var(--background-light);
  --foreground: var(--secondary);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-background: var(--background);
  --color-card-light: var(--card-light);
  --color-card-dark: var(--card-dark);
  --font-sans: Cairo, sans-serif;
  --font-display: Cairo, sans-serif;
  --font-mono: monospace;
  --radius: 0.5rem;
}

.dark {
  --background: var(--background-dark);
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
